<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close()" data-dismiss="modal"
                        aria-hidden="true">&times;</button>
                <h4 class="modal-title">Shop</h4>
            </div>
            <div class="modal-body">
                <div id="shopList" class="shopList" ng-repeat="warrior in items">
                    <span id="warriorName" class="warriorName">Warrior: <b>{{warrior.warrior}}</b></span>
                    <span id="warriorPrice" class="warriorPrice">Price: <b>{{warrior.price}}</b></span>
                    <input id="amount" type="text" class="amount" ng-model="amount" placeholder="Enter amount"/>
                    <button id="buy" ng-model="warrior.warrior" class="buy"
                            ng-click="buy(amount, warrior.warrior)">Buy </button>
                </div>
            </div>
        </div>
    </div>
</div>
